.heading{
    margin: 192px 20px 20px 241px;
    filter: blur(8px);
}
.heading1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.753);
}
.heading2{
    font-family: Calibri light;
    font-size: 2em;
    font-weight: lighter;
    color: rgb(169, 169, 169);
    filter: blur(8px);
}
.heading3{
    font-family: Calibri light;
    font-size: 2em;
    font-weight: lighter;
    color: rgb(169, 169, 169);
    margin: -63px 21px 31px 954px;
    filter: blur(8px);
}
.fa-plus-circle{
    color: rgba(255, 0, 0, 0.753);
    position: relative;
    left: 910px;
    top: -65px;
    font-size: 29px;
    cursor: pointer;
    filter: blur(8px);
}
.container{
    border: 1px solid rgba(255, 0, 0, 0.753);
    border-radius: 12px;
    height: 291px;
    width: 242px;
    box-shadow: 5px 4px 7px darkgrey;
    margin-left: 244px;
    top: 30px;
    filter: blur(8px);
}
.h1{
    color: rgba(255, 0, 0, 0.753);
    font-size: 2em;
    text-align: center;
    font-family: Calibri light;
    padding: 20px 20px 20px 20px;
}
.h2{
    width: 186px;
    margin-left: 58px;
}
.h3{
    color: rgba(255, 0, 0, 0.753);
    font-size: 2em;
    text-align: center;
    font-family: Calibri light;
    line-height: 61px;
    /* [filter: blur(8px);] */
}
.kkkk{
    border-bottom: 3px solid red;
    width: 204px;
    position: relative;
    top: -30px;
    left: 10px;
}
.kkk{
    border-bottom: 3px solid red;
    width: 204px;
    position: relative;
    top: -30px;
    left: 10px;
}
.kk{
    border-bottom: 3px solid red;
    width: 204px;
    position: relative;
    top: -30px;
    left: 10px;
}
.h4{
    color: rgba(0, 0, 0, 0.753);
    font-size: x-large;
    text-align: center;
    font-family: Calibri light;
    margin-left: 25px;
    cursor: pointer;
}
.container2{
    border: 1px solid rgba(255, 0, 0, 0.753);
    border-radius: 12px;
    height: 291px;
    width: 242px;
    box-shadow: 5px 4px 7px darkgrey;
    margin: -293px 20px 20px 620px;
    filter: blur(8px);
}
.H1{
    color: rgba(255, 0, 0, 0.753);
    font-size: 2em;
    text-align: center;
    font-family: Calibri light;
    padding: 20px 20px 20px 20px;
}
.H2{
    width: 186px;
    margin-left: 58px;
}
.H3{
    color: rgba(255, 0, 0, 0.753);
    font-size: 2em;
    text-align: center;
    font-family: Calibri light;
    line-height: 61px;
}
.H4{
    color: rgba(0, 0, 0, 0.753);
    font-size: x-large;
    text-align: center;
    font-family: Calibri light;
    margin-left: 25px;
    cursor: pointer;
}
.container3{
    border: 1px solid rgba(255, 0, 0, 0.753);
    border-radius: 12px;
    height: 291px;
    width: 242px;
    box-shadow: 5px 4px 7px darkgrey;
    margin: -312px 20px 20px 994px;
    filter: blur(8px);
}
.Head1{
    color: rgba(255, 0, 0, 0.753);
    font-size: 2em;
    text-align: center;
    font-family: Calibri light;
    padding: 20px 20px 20px 20px;
}
.Head2{
    width: 186px;
    margin-left: 58px;
}
.Head3{
    color: rgba(255, 0, 0, 0.753);
    font-size: 2em;
    text-align: center;
    font-family: Calibri light;
    line-height: 61px;
}
.Head4{
    color: rgba(0, 0, 0, 0.753);
    font-size: x-large;
    text-align: center;
    font-family: Calibri light;
    margin-left: 25px;
    cursor: pointer;
}
.cONTAINER{
    height: 152px;
    width: 334px;
    border-radius: 12px;
    border: 1px solid rgba(255, 0, 0, 0.753);
    margin: -371px 20px 20px 580px;
    box-shadow: 2px 3px 4px darkgray;
    background-color: white;
    position: absolute;
}
.Con{
    font-size: 2em;
    font-family: calibri light;
    color: rgba(255, 0, 0, 0.753);
    text-align: center;
    padding-left: 75px;
}
.textarea{
    height: 26px;
    width: 243px;
    border: 1px solid rgba(255, 0, 0, 0.753);
    border-radius: 5px;
    margin: 20px 20px 20px 41px;
}
.button{
    color: whitesmoke;
    background-color: rgba(255, 0, 0, 0.753);
    height: 25px;
    width: 74px;
    border: 1px solid rgba(255, 0, 0, 0.753);
    border-radius: 14px;
    font-size: 1em;
    margin: -1px 20px 20px 128px;
    cursor: pointer;
}


